<div class="buttons">
    <div class="pull-right">
        <a href="{{ widget_link }}" title="{{ pay_via_paymentwall }}">
            <img src="catalog/view/theme/default/image/paymentwall_button.png" title="{{ pay_via_paymentwall }}"/>
        </a>
    </div>
</div>